<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Management System</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script>
        $(document).ready(function(){
            var date = new Date(), y = date.getFullYear(), m = date.getMonth();
            var lastDay = new Date(y, m + 1, 0);

            $('select').formSelect();
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                defaultDate: $("#date").val(),
                autoClose: true,
                disableDayFn:function (date){
                    var days = null;
                    $(document).ready(function (){
                        days = $("#daysAttribute");
                    });
                    if(days != null){
                        return !days.val().includes(date.toDateString());
                    }
                },
                minDate: new Date(),
                maxDate: lastDay
            });

        });

        $(document).ready(function(){

            if($('#timeslot').val() === null){

                swal({
                    title: "Chosen master does not work on this day",
                    text: "change request time please",
                    icon: "error",
                    button: "Got it",
                });
            }
        });

        $(function (){

            $('#procedure').on('change', function (){
                var procedure = $(this).val();
                if(procedure){
                    window.location = "/admin-home/requests/new/request/client/" + $('#client').val() + "/procedure/" + procedure + "/master/"+ $('#master').val()+"/date/"+$('#date').val();
                }
            })
            $('#master').on('change', function (){
                var master = $(this).val();
                if(master){
                    window.location = "/admin-home/requests/new/request/client/" + $('#client').val() + "/procedure/"+$('#procedure').val()+"/master/"+ master + "/date/"+ $('#date').val();
                }
            })
            $('#date').on('change', function (){
                var date = $(this).val();
                if(date){
                    window.location = "/admin-home/requests/new/request/client/" + $('#client').val() + "/procedure/" + $('#procedure').val() + "/master/"+ $('#master').val() +"/date/" + $('#date').val();
                }
            })
            $('#client').on('change', function (){
                var client = $(this).val();
                if(client){
                    window.location = "/admin-home/requests/new/request/client/" + client + "/procedure/"+$('#procedure').val()+"/master/"+ $('#master').val()+"/date/"+$('#date').val();
                }
            })
        })
    </script>

    <nav>
        <div class="nav-wrapper grey darken-4">
            <a href="/admin-home" class="brand-logo center">Beauty Salon</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="#">Sass</a></li>
                <li><a href="#">Components</a></li>
                <li><a href="#">JavaScript</a></li>
            </ul>
        </div>
    </nav>

</head>
<body>
<div class="row" style="width: 600px">
    <form th:action="@{/save-request}"  th:object="${request}" method="post">
        <div style="margin-left:  42%"><i class="large material-icons">contacts</i></div>

        <div class="input-field col s12">
            <select id="client" th:field="*{client}">
                <option value="Client"disabled selected>Client</option>
                <tr th:each="client : ${clientList}">
                    <option th:value="${client.id}" th:text="${client}"></option>
                </tr>
            </select>
            <label>Client</label>
        </div>

        <div class="input-field col s12">
            <select id="procedure" th:field="*{procedure}">
                <option value=""disabled selected>Procedure</option>
                <tr th:each="procedure : ${procedureList}">
                    <option th:value="${procedure.id}" th:text="${procedure}"></option>
                </tr>
            </select>
            <label>Procedure</label>
        </div>

        <div class="input-field col s12">
            <select id="master" th:field="*{master}">
                <option value="Master"disabled selected>Master</option>
                <tr th:each="master : ${masterList}">
                    <option th:value="${master.id}" th:text="${master}"></option>
                </tr>
            </select>
            <label>Master</label>
        </div>

        <div class="input-field col s12">
            <input th:value="${day.substring(0,10)}" name="date" id="date" type="text" class="datepicker">
        </div>

        <div class="input-field col s12">
            <select id="timeslot" th:field="*{time}">
                <option value="Timeslot"disabled selected>Master</option>
                <tr th:each="slot : ${timeslots}">
                    <option th:value="${slot.toString()}" th:text="${slot.toString()}"></option>
                </tr>
            </select>
            <label for="timeslot">Time</label>
        </div>

        <button class="waves-effect red accent-2 btn-large" style="margin-left: 38%" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>

        <input class="hide" id="daysAttribute" th:value="${workDayList}"/>
    </form>
</div>
</body>
</html>