<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Management System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<nav>
    <div class="nav-wrapper grey darken-4">
        <a href="/admin-home" class="brand-logo center">Beauty Salon</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="#">Sass</a></li>
            <li><a href="#">Components</a></li>
            <li><a href="#">JavaScript</a></li>
        </ul>
    </div>
</nav>

<div class="container my-2">
    <a th:href="@{'/admin-home/requests/new/request'}" class="secondary-content"><i class="medium material-icons">mode_edit</i></a>
    <h1>Requests</h1>

    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>
                Procedure
            </th>
            <th>
                <a th:href="@{'/admin-home/requests/page/' + ${currentPage} + '?sortField=date&sortDirection=' + ${reverseSortDirection}}">
                    Date
                </a>
            </th>

            <th>
                    Master
            </th>

            <th>
                <a th:href="@{'/admin-home/requests/page/' + ${currentPage} + '?sortField=client&sortDirection=' + ${reverseSortDirection}}">
                Client
                </a>
            </th>
            <th>
                Done
            </th>
            <th>
                Info
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="request : ${requestList}">
            <td th:text="${request.procedure}"></td>
            <td th:text="${request.date.toString().substring(0, 11) + request.time}" ></td>
            <td th:text="${request.getMaster()}"></td>
            <td th:text="${request.client}"></td>
            <td>
                <div th:switch="${request.done}">
                    <img th:case="true" src="/static/img/core-img/done.png">
                    <img th:case="false" src="/static/img/core-img/notdone.png">
                </div>
            </td>

            <td>

                <a th:href="@{'/admin-home/request/info/' + ${request.id}}">
                    <i class="material-icons light-blue-text">settings</i>
                </a>

            </td>
        </tr>
        </tbody>
    </table>

    <div th:if = "${totalPages > 1}">
        <div class = "row col-sm-10">
            <div class = "col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/admin-home/requests/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
            </div>
            <div class = "col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/admin-home/requests/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/admin-home/requests/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>