<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Management System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

<nav>
    <div class="nav-wrapper grey darken-4">
        <a href="/admin-home" class="brand-logo center">Beauty Salon</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="#">Sass</a></li>
            <li><a href="#">Components</a></li>
            <li><a href="#">JavaScript</a></li>
        </ul>
    </div>
</nav>

<div class="container my-2">
    <a th:href="@{'/admin-home/masters/new/master'}" class="secondary-content"><i class="medium material-icons">person_add</i></a>
    <table border="1" class = "table table-striped table-responsive-md">
        <h2 class="row" >Masters</h2>
        <thead>
        <tr>
            <th>
                <a th:href="@{'/admin-home/masters/page/' + ${currentPage} + '?sortField=name&sortDirection=' + ${reverseSortDirection}}">
                    Name
                </a>
            </th>
            <th>
                <a th:href="@{'/admin-home/masters/page/' + ${currentPage} + '?sortField=rating&sortDirection=' + ${reverseSortDirection}}">
                    Rating
                </a>
            </th>
            <th>
                <a th:href="@{'/admin-home/masters/page/' + ${currentPage} + '?sortField=email&sortDirection=' + ${reverseSortDirection}}">
                    Email</a>
            </th>
            <th>
                Speciality
            </th>
            <th>
                Status
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="master : ${entityList}">
            <td th:text="${master.name}"></td>
            <td th:text="${master.rating}"></td>
            <td th:text="${master.email}"></td>

            <td th:text="${master.specialityList}"></td>

            <td th:text="${master.status}"></td>
            <td>
                <a th:href="@{/admin-home/masters/info/{id}(id=${master.id})}">
                    <i class="material-icons">settings</i></a>
                <a th:href="@{/admin-home/requests/master/{id}(id=${master.id})}">
                    <i class="material-icons">dvr</i></a>
                <button style="border: none; background: none; padding: 0;" th:id="'delete:' + ${master.id}">
                    <i class="material-icons light-blue-text">delete</i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script th:inline="javascript">
        var masterList = /*[[${entityList}]]*/ 'default';
        for(let step = 0; step< masterList.length; step++){
            var button = document.getElementById("delete:" + masterList[step].id);
            button.addEventListener('click', function (){
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this master!",
                    icon: "warning",
                    buttons: ["Cancel", "Delete"],
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            swal("You have successfully deleted master!", {
                                icon: "success",
                            }).then((success) => {
                                window.location.replace("http://localhost:8080/admin-home/delete/masters/" + masterList[step].id);
                            });
                        }
                    });
            })
        }
    </script>


    <div th:if = "${totalPages > 1}">
        <div class = "row col-sm-10">
            <div class = "col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class = "col-sm-1">
                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a th:if="${currentPage != i}" th:href="@{'/admin-home/masters/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">[[${i}]]</a>
                    <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
                </span>
            </div>
            <div class = "col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/admin-home/masters/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/admin-home/masters/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</body>
</html>