<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Hair Salon</title>

    <!-- Favicon -->
    <link rel="icon" href="./img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/style.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">

</head>

<body>

<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/static/video/header_video.mp4" type="video/mp4">
    </video>
    <div style="position: absolute; margin-left: 43%; margin-top: 100px">
        <img src="https://x-lines.ru/letters/i/cyrillicfancy/1588/000000/60/0/efjfeenpew.png">
    </div>
    <div class="container text-center" style="margin-top: 280px">
        <a sec:authorize="isAnonymous()" title="Log in" class="text-center h-75" href="/auth/login" style="text-decoration: none">Log in</a>
        <a sec:authorize="isAuthenticated()" title="Log in" class="text-center h-75" th:href="@{/logout}" style="text-decoration: none">Logout</a>
        <a sec:authorize="isAnonymous()" title="Registration" class="text-center h-75" href="/register" style="text-decoration: none">Registration</a>
        <a title="Our team" class="text-center h-75" href="/team" style="text-decoration: none">Our team</a>
        <a sec:authorize="isAuthenticated()" title="My account" class="text-center h-75" href="/home" style="text-decoration: none">My account</a>
    </div>
</header>

<!-- Our Service Area Start -->
<section class="akame-service-area section-padding-80-0" >
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>Our Services</h2>
                    <p>The House of Hair Salon &amp; Spa, incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-3" >
                <div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="200ms">
                    <img src="/static/img/core-img/s1.png" alt="">
                    <h5>Coloring</h5>
                    <p>Ut enim ad minim veniam, quis trud exercitation...</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="400ms">
                    <img src="/static/img/core-img/s3.png" alt="">
                    <h5>Haircut</h5>
                    <p>Consectetur adipisicing elit, sed doe eiusmod.</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="600ms">
                    <img src="/static/img/core-img/s4.png" alt="">
                    <h5>Hairstyle</h5>
                    <p>Nemo enim ipsam voluptatem quia voluptas</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="400ms">
                    <img src="/static/img/core-img/s3.png" alt="">
                    <h5>Haircut</h5>
                    <p>Consectetur adipisicing elit, sed doe eiusmod.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Service Area End -->


<!-- Call To Action Area Start -->
<section class="akame-cta-area bg-gray section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-10 col-xl-5">
                <div class="cta-content">
                    <h2>Make Stilo Your <br>Number One Choice</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut la.</p>
                    <div class="akame-btn-group mt-30">
                        <a href="#" class="btn akame-btn active mr-3 mb-3 mb-sm-0">Book An Appointment</a>
                        <a href="#" class="btn akame-btn">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CTA Thumbnail -->
    <div class="cta-thumbnail bg-img" style="background-image: url(static/img/bg-img/cta.png)"></div>
</section>

<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Portfolio</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->

<!-- Portfolio Area Start -->
<section class="akame-portfolio section-padding-0-80 clearfix">
    <div class="container">

        <div class="row akame-portfolio-area">
            <!-- Single Portfolio Item -->
            <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item haircuts mb-30 wow fadeInUp" data-wow-delay="200ms">
                <div class="akame-portfolio-single-item">
                    <img src="/static/img/bg-img/18.jpg" alt="">

                    <!-- Overlay Content -->
                    <div class="overlay-content d-flex align-items-center justify-content-center">
                        <div class="overlay-text text-center">
                            <h4>Hairstyle</h4>
                            <p>Consectetur adipisicing elit sed doe</p>
                        </div>
                    </div>

                    <!-- Thumbnail Zoom -->
                    <a href="/static/img/bg-img/18.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                </div>
            </div>

            <!-- Single Portfolio Item -->
            <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item haircuts mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="akame-portfolio-single-item">
                    <img src="/static/img/bg-img/19.jpg" alt="">

                    <!-- Overlay Content -->
                    <div class="overlay-content d-flex align-items-center justify-content-center">
                        <div class="overlay-text text-center">
                            <h4>Hairstyle</h4>
                            <p>Consectetur adipisicing elit sed doe</p>
                        </div>
                    </div>

                    <!-- Thumbnail Zoom -->
                    <a href="/static/img/bg-img/19.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                </div>
            </div>

            <!-- Single Portfolio Item -->
            <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item coloring mb-30 wow fadeInUp" data-wow-delay="800ms">
                <div class="akame-portfolio-single-item">
                    <img src="/static/img/bg-img/20.jpg" alt="">

                    <!-- Overlay Content -->
                    <div class="overlay-content d-flex align-items-center justify-content-center">
                        <div class="overlay-text text-center">
                            <h4>Hairstyle</h4>
                            <p>Consectetur adipisicing elit sed doe</p>
                        </div>
                    </div>

                    <!-- Thumbnail Zoom -->
                    <a href="/static/img/bg-img/20.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                </div>
            </div>

            <!-- Single Portfolio Item -->
            <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item coloring mb-30 wow fadeInUp" data-wow-delay="200ms">
                <div class="akame-portfolio-single-item">
                    <img src="/static/img/bg-img/21.jpg" alt="">

                    <!-- Overlay Content -->
                    <div class="overlay-content d-flex align-items-center justify-content-center">
                        <div class="overlay-text text-center">
                            <h4>Hairstyle</h4>
                            <p>Consectetur adipisicing elit sed doe</p>
                        </div>
                    </div>

                    <!-- Thumbnail Zoom -->
                    <a href="/static/img/bg-img/21.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                </div>
            </div>

            <!-- Single Portfolio Item -->
            <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item barber mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="akame-portfolio-single-item">
                    <img src="/static/img/bg-img/22.jpg" alt="">

                    <!-- Overlay Content -->
                    <div class="overlay-content d-flex align-items-center justify-content-center">
                        <div class="overlay-text text-center">
                            <h4>Hairstyle</h4>
                            <p>Consectetur adipisicing elit sed doe</p>
                        </div>
                    </div>

                    <!-- Thumbnail Zoom -->
                    <a href="/static/img/bg-img/22.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                </div>
            </div>

            <!-- Single Portfolio Item -->
            <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item barber mb-30 wow fadeInUp" data-wow-delay="800ms">
                <div class="akame-portfolio-single-item">
                    <img src="/static/img/bg-img/23.jpg" alt="">

                    <!-- Overlay Content -->
                    <div class="overlay-content d-flex align-items-center justify-content-center">
                        <div class="overlay-text text-center">
                            <h4>Hairstyle</h4>
                            <p>Consectetur adipisicing elit sed doe</p>
                        </div>
                    </div>

                    <!-- Thumbnail Zoom -->
                    <a href="/static/img/bg-img/23.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                </div>
            </div>

            <!-- Single Portfolio Item -->
            <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item shaving mb-30 wow fadeInUp" data-wow-delay="200ms">
                <div class="akame-portfolio-single-item">
                    <img src="/static/img/bg-img/24.jpg" alt="">

                    <!-- Overlay Content -->
                    <div class="overlay-content d-flex align-items-center justify-content-center">
                        <div class="overlay-text text-center">
                            <h4>Hairstyle</h4>
                            <p>Consectetur adipisicing elit sed doe</p>
                        </div>
                    </div>

                    <!-- Thumbnail Zoom -->
                    <a href="/static/img/bg-img/24.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                </div>
            </div>

            <!-- Single Portfolio Item -->
            <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item shaving mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="akame-portfolio-single-item">
                    <img src="/static/img/bg-img/25.jpg" alt="">

                    <!-- Overlay Content -->
                    <div class="overlay-content d-flex align-items-center justify-content-center">
                        <div class="overlay-text text-center">
                            <h4>Hairstyle</h4>
                            <p>Consectetur adipisicing elit sed doe</p>
                        </div>
                    </div>

                    <!-- Thumbnail Zoom -->
                    <a href="/static/img/bg-img/25.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                </div>
            </div>

            <!-- Single Portfolio Item -->
            <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item hairstyle mb-30 wow fadeInUp" data-wow-delay="800ms">
                <div class="akame-portfolio-single-item">
                    <img src="/static/img/bg-img/26.jpg" alt="">

                    <!-- Overlay Content -->
                    <div class="overlay-content d-flex align-items-center justify-content-center">
                        <div class="overlay-text text-center">
                            <h4>Hairstyle</h4>
                            <p>Consectetur adipisicing elit sed doe</p>
                        </div>
                    </div>

                    <!-- Thumbnail Zoom -->
                    <a href="/static/img/bg-img/26.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                </div>
            </div>

            <!-- Single Portfolio Item -->
            <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item hairstyle mb-30 wow fadeInUp" data-wow-delay="200ms">
                <div class="akame-portfolio-single-item">
                    <img src="/static/img/bg-img/27.jpg" alt="">

                    <!-- Overlay Content -->
                    <div class="overlay-content d-flex align-items-center justify-content-center">
                        <div class="overlay-text text-center">
                            <h4>Hairstyle</h4>
                            <p>Consectetur adipisicing elit sed doe</p>
                        </div>
                    </div>

                    <!-- Thumbnail Zoom -->
                    <a href="/static/img/bg-img/27.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                </div>
            </div>

            <!-- Single Portfolio Item -->
            <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item massage mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="akame-portfolio-single-item">
                    <img src="/static/img/bg-img/28.jpg" alt="">

                    <!-- Overlay Content -->
                    <div class="overlay-content d-flex align-items-center justify-content-center">
                        <div class="overlay-text text-center">
                            <h4>Hairstyle</h4>
                            <p>Consectetur adipisicing elit sed doe</p>
                        </div>
                    </div>

                    <!-- Thumbnail Zoom -->
                    <a href="/static/img/bg-img/28.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                </div>
            </div>

            <!-- Single Portfolio Item -->
            <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item massage mb-30 wow fadeInUp" data-wow-delay="800ms">
                <div class="akame-portfolio-single-item">
                    <img src="/static/img/bg-img/29.jpg" alt="">

                    <!-- Overlay Content -->
                    <div class="overlay-content d-flex align-items-center justify-content-center">
                        <div class="overlay-text text-center">
                            <h4>Hairstyle</h4>
                            <p>Consectetur adipisicing elit sed doe</p>
                        </div>
                    </div>

                    <!-- Thumbnail Zoom -->
                    <a href="/static/img/bg-img/29.jpg" class="thumbnail-zoom"><i class="icon_search"></i></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="view-all-btn mt-30 text-center">
                    <a href="#" class="btn akame-btn">View All Work</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Expert Area Start -->
<section class="akame-our-expert-area section-padding-80-0">

    <!-- Side Thumbnail -->
    <div class="side-thumbnail" style="background-image: url(/static/img/bg-img/14.png);"></div>

    <div class="container">
        <div class="row justify-content-end">
            <div class="col-12 col-lg-6">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2>Our Experts</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
                </div>
                <!-- Our Certificate -->
                <div class="our-certificate-area mb-60 d-flex align-items-center">
                    <img src="/static/img/core-img/certificate-1.png" alt="">
                    <img src="/static/img/core-img/certificate-2.png" alt="">
                    <img src="/static/img/core-img/certificate-3.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <!-- Single Team Member -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="200ms">
                    <div class="team-member-img">
                        <img src="/static/img/bg-img/10.jpg" alt="">
                        <!-- Social Info -->
                        <div class="team-social-info d-flex align-items-center justify-content-center">
                            <div class="social-link">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-member-info">
                        <h5>Mila Hartley</h5>
                        <p>Hairdresser</p>
                    </div>
                </div>
            </div>

            <!-- Single Team Member -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="400ms">
                    <div class="team-member-img">
                        <img src="/static/img/bg-img/11.jpg" alt="">
                        <!-- Social Info -->
                        <div class="team-social-info d-flex align-items-center justify-content-center">
                            <div class="social-link">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-member-info">
                        <h5>Teigan Duran</h5>
                        <p>Stylist</p>
                    </div>
                </div>
            </div>

            <!-- Single Team Member -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="600ms">
                    <div class="team-member-img">
                        <img src="/static/img/bg-img/12.jpg" alt="">
                        <!-- Social Info -->
                        <div class="team-social-info d-flex align-items-center justify-content-center">
                            <div class="social-link">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-member-info">
                        <h5>Tanya Ramsay</h5>
                        <p>Hairstylist</p>
                    </div>
                </div>
            </div>

            <!-- Single Team Member -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="800ms">
                    <div class="team-member-img">
                        <img src="/static/img/bg-img/13.jpg" alt="">
                        <!-- Social Info -->
                        <div class="team-social-info d-flex align-items-center justify-content-center">
                            <div class="social-link">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-member-info">
                        <h5>Donna Carr</h5>
                        <p>Barber</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Our Expert Area End -->

<!-- Footer Area Start -->
<footer class="footer-area section-padding-80-0">
    <div class="container">
        <div class="row justify-content-between">

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single-footer-widget mb-80">
                    <!-- Footer Logo -->
                    <a href="#" class="footer-logo"><img src="https://x-lines.ru/letters/i/cyrillicfancy/1588/000000/22/0/efjfeenpew.png"></a>

                    <p class="mb-30">We would love to serve you and let you enjoy your culinary experience. Excepteur sint occaecat cupidatat non proident.</p>

                    <!-- Copywrite Text -->
                    <div class="copywrite-text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                <div class="single-footer-widget mb-80">
                    <!-- Widget Title -->
                    <h4 class="widget-title">Opening times</h4>

                    <!-- Open Times -->
                    <div class="open-time">
                        <p>Monday: Friday: 10.00 - 23.00</p>
                        <p>Saturday: 10.00 - 19.00</p>
                    </div>

                    <!-- Social Info -->
                    <div class="social-info">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single Footer Widget -->
            <div class="col-12 col-md-4 col-xl-3">
                <div class="single-footer-widget mb-80">

                    <!-- Widget Title -->
                    <h4 class="widget-title">Contact Us</h4>

                    <!-- Contact Address -->
                    <div class="contact-address">
                        <p>Tel: (+12) 345 678 910</p>
                        <p>E-mail: Hello.colorlib@gmail.com</p>
                        <p>Address: Iris Watson, P.O. Box 283 8562 Fusce Rd, NY</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
</body>

</html>