body{
    background-size: cover;
    color: #fff;
}
.login{
    width: 600px;
    margin-top: 100px;
}

.login.card{
    background: rgba(0,0,0, .6);
}

.login label{
    font-size: 16px;
    color: #ccc;
}

.login input{
    font-size: 20px !important;
}
