<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/team.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
    </script>
</head>
<body>

<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/static/video/header_video.mp4" type="video/mp4">
    </video>
    <div style="position: absolute; margin-left: 43%; margin-top: 100px">
        <img src="https://x-lines.ru/letters/i/cyrillicfancy/1588/000000/60/0/efjfeenpew.png" alt="">
    </div>
    <div class="container text-center" style="margin-top: 280px">
        <a title="Registration" class="text-center h-75" href="/" style="text-decoration: none">Back</a>
    </div>
</header>

    <div class="input-field col s12">
        <select>
            <option value="" disabled selected>Sort</option>
            <option value="1">By name</option>
            <option value="2">By rating</option>
        </select>
        <label>Choose filter option</label>
    </div>
    <br>
    <br>
    <form action="">
        <input type="search">
        <i class="fa fa-search"></i>
    </form>

    <div class="row" style="margin-top: 100px">
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="800ms">
                <div class="team-member-img">
                    <img src="/static/img/bg-img/10.jpg" alt="">
                </div>
                <div class="team-member-info">
                    <h5>Donna Carr</h5>
                    <h6>Rating : </h6>
                    <p>Barber</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="800ms">
                <div class="team-member-img">
                    <img src="/static/img/bg-img/11.jpg" alt="">
                </div>
                <div class="team-member-info">
                    <h5>Donna Carr</h5>
                    <h6>Rating : </h6>
                    <p>Barber</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="800ms">
                <div class="team-member-img">
                    <img src="/static/img/bg-img/12.jpg" alt="">
                </div>
                <div class="team-member-info">
                    <h5>Donna Carr</h5>
                    <h6>Rating : </h6>
                    <p>Barber</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="800ms">
                <div class="team-member-img">
                    <img src="/static/img/bg-img/13.jpg" alt="">
                </div>
                <div class="team-member-info">
                    <h5>Donna Carr</h5>
                    <h6>Rating : </h6>
                    <p>Barber</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="800ms">
                <div class="team-member-img">
                    <img src="/static/img/bg-img/10.jpg" alt="">
                </div>
                <div class="team-member-info">
                    <h5>Donna Carr</h5>
                    <h6>Rating : </h6>
                    <p>Barber</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="800ms">
                <div class="team-member-img">
                    <img src="/static/img/bg-img/11.jpg" alt="">
                </div>
                <div class="team-member-info">
                    <h5>Donna Carr</h5>
                    <h6>Rating : </h6>
                    <p>Barber</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="800ms">
                <div class="team-member-img">
                    <img src="/static/img/bg-img/12.jpg" alt="">
                </div>
                <div class="team-member-info">
                    <h5>Donna Carr</h5>
                    <h6>Rating : </h6>
                    <p>Barber</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="800ms">
                <div class="team-member-img">
                    <img src="/static/img/bg-img/13.jpg" alt="">
                </div>
                <div class="team-member-info">
                    <h5>Donna Carr</h5>
                    <h6>Rating : </h6>
                    <p>Barber</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>